*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}
html,body{
   height: 100%;
   width:100%;
}
h1{

}
. for class
like .home
# for id 
like #home
without anything thing 
it will be tag only 

#{

}
.h1{

}
h1{

}
#main{
    
} 
margin and padding diffrence 
margin hota ha to element ke beech mai space , padding hota hain ek hi element ke andar space